body {
    background-color: white;
}

h1 {
    text-align: center;
}

table{
    width:980px;
    border-bottom:1px dashed #808080;
    padding-bottom: 10px;
}

th {
    color: white;
    background:rgb(55, 55, 255);
    font-size:1.2em;
    padding:3px;
}

#data1 {
    height:30px
}

a {
    text-decoration:none;
    color:#505050
}

a:hover{
    color:#ddaa88
}

#ab {
    color:#ee9988
}